
body {
    margin:0;
    font-family:monospace;
    color:rgb(190, 190, 190);
}

.container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."; 
    width: 100%; 
    height: 50vh; 
    place-items:center;
    place-content:center;
    justify-content: center; 
    background-color: rgb(24, 24, 24);
  }

  .memeContainer {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "."; 
    width: 100%; 
    height: 50vh; 
    place-items:center;
    place-content:center;
    justify-content: center; 
    background-color: rgb(34, 34, 34);
  }

  .lol {
      place-items:center;
      justify-content: center;
      margin:auto;
      /* height:1000%; */
      /* background-color: green; */
      text-align: center;
  }

  .lol2 {
    place-items:center;
    justify-content: center;
    margin:0;
    /* background-color: red; */
    text-align: center;
  }

 .memeContainer img {
      max-height: 48vh;
      width:fit-content;
      place-items:center;
      justify-content: center;
      align-content: center;
      margin-top:1vh;
      border:solid white 1px;
      cursor:pointer;
  }

  .memeShow {
      display:none;
  }

  .visibleAids {
      display: block;
      position:absolute;
      top:0;
      left:0;
      width:100vw;
      height:100vh;
      background-color:rgb(15, 15, 15);
      animation: fade 1s;
      z-index:100;
  }

  .visibleAids button {
      position:absolute;
      top:2vh;
      right:2vw;
      border:none;
      font-size:48px;
      font-family:monospace;
      cursor:pointer;
      background:transparent;
      color:white;
  }

  .visibleAids img {
      display:block;
      margin:0 auto;
      margin-top: 2vh;
      box-shadow:
      inset 0 0 50px #fff,      /* inner white */
      inset 20px 0 80px #f0f,   /* inner left magenta short */
      inset -20px 0 80px #0ff,  /* inner right cyan short */
      inset 20px 0 300px #f0f,  /* inner left magenta broad */
      inset -20px 0 300px #0ff, /* inner right cyan broad */
      0 0 50px #fff,            /* outer white */
      -10px 0 80px #f0f,        /* outer left magenta */
      10px 0 80px #0ff;         /* outer right cyan */
  }

  .info {
      position:absolute;
      top:8px;
      left:8px;
      z-index:2;
  }

  @keyframes fade {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }

  @media only screen and (max-width: 600px) {


    html {
        overflow-x:hidden;
    }

    .container {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."; 
        width: 100%; 
        height: 100vh; 
        place-items:center;
        place-content:center;
        justify-content: center; 
        background-color: rgb(24, 24, 24);
      }

      .memeContainer {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."; 
        width: 100%; 
        height: 100vh; 
        place-items:center;
        place-content:center;
        justify-content: center; 
        background-color: rgb(34, 34, 34);
      }

      .memeContainer img {
        max-height: 100vh;
        max-width:100vw;
        width:fit-content;
        place-items:center;
        justify-content: center;
        align-content: center;
        /* margin-top:1vh; */
        border:solid white 1px;
        cursor:pointer;
    }

    .visibleAids {
        display: block;
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        background-color:rgb(15, 15, 15);
        animation: fade 1s;
        z-index:100;
    }
    .visibleAids img {
        object-fit: cover;
        max-width:100vw;
        max-height:100vh;
        box-shadow:none;
    }

    .visibleAids button {
        display:none;
    }

  }
